<div class="row">
    <div *ngFor="let item of thumbnailItems">
        <div class="col-2">
            <app-dashboard-thumbnail
                [thumbnail]="item"
            ></app-dashboard-thumbnail>
        </div>
    </div>
</div>

<!-- <div *ngIf="thumbnailItems && thumbnailItems.length > 0">
    <app-dashboard-thumbnail
        *ngFor="let item of thumbnailItems"
        [thumbnail]="item"
    ></app-dashboard-thumbnail>
</div>
<p *ngIf="!thumbnailItems || thumbnailItems.length === 0">No Thumbnails</p> -->
