<!-- <pbds-page-title
  ttl="Available Server List"
  layout="container"
></pbds-page-title> -->

<!--  mt-7 class on container, unless the first element inside is an H2 -->

<div class="container mt-7">
    <div class="row">
        <div class="col-12">            
            <app-dashboard-thumbnail-list [thumbnailItems]="dashboardCardItems"></app-dashboard-thumbnail-list>      
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-dashboard-card-list></app-dashboard-card-list>
        </div>
    </div>     
</div>