.tool-bar{
    margin-top: 75px;
    margin-left: 15px;
    padding: 4px;
    width:98%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.shim
{
    height: 5px
}